.awesome {
    font-family: Raleway;
    font-weight: 400;
    padding: 0 0 58px 0;
}
.awesome__title {
    position: relative;
    font-size: 36px;
    text-align: center;
    padding: 57px 0;
    margin: 0 0 40px 0;
}
.awesome__title:after {
    content: "";
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 170px;
    height: 0;
    border: 1px solid #ec7979;
}
.awesome__subtitle {
    font-size: 18px;
    text-align: center;
    color: #86878b;
    margin: 0 0 71px 0;
}

.awesome__row-of-elements{
    width: 100%;
    margin: 0 -15px;
}
.awesome__card {
    padding: 0 15px;
    width: 33%;
    display: inline-block;
}

.card-awesome {
}
.card-awesome__icon {
    text-align: center;
}
.card-awesome__title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    padding: 38px 0;
    margin: 0 0 8px 0;
}
.card-awesome__text {
    text-align: center;
    font-size: 18px;
}